{{ header }}


<link rel="stylesheet" href="image/catalog/flexslider.css" type="text/css" media="screen" />
<div class="student-main">

    <div class="student-header">
        <h1>Welcome to Student!</h1>
        <p>what would you like to do today?</p>
    </div>

    <!-- Student profile details  -->
    <div class="student-profile-header">
        <div class="box my-assignments">
            <h2>My Assignments</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
        </div>
        <div class="box my-tests">
            <h2>Online Test</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
        </div>
    </div>
    <!-- Student profile details  -->

    <!-- Student Subscriptions  -->
    <div class="student-profile-body">
        <div class="box my-subjects">
            <div class="left-pane">
                <h2>Subscribed Subjects</h2>
                <!-- Top blcok -->
                <div class="top-block">
                    <div class="box">
                        <div class="img-box">
                            <img src="image/catalog/subject-img-maths.png">
                        </div>
                        <h2>Mathematics</h2>
                        <div class="buttons">
                            <a class="btn" href=""><span>{{ text_continue }}</span></a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="image/catalog/subject-img-science.png">
                        </div>
                        <h2>Science</h2>
                        <div class="buttons">
                            <a class="btn" href=""><span>{{ text_continue }}</span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Top blcok -->

            <!-- Bottom Block  -->
            <div class="bottom-block">

                <div class="courses-list">
                    <ul>
                        <li>
                            <h4>English</h4>
                            <p class="price">Rs. 12000</p>
                            <a href="#" class="btn">Buy Now</a>
                        </li>
                        <li>
                            <h4>English</h4>
                            <p class="price">Rs. 12000</p>
                            <a href="#" class="btn">Buy Now</a>
                        </li>
                        <li>
                            <h4>English</h4>
                            <p class="price">Rs. 12000</p>
                            <a href="#" class="btn">Buy Now</a>
                        </li>
                        <li>
                            <h4>English</h4>
                            <p class="price">Rs. 12000</p>
                            <a href="#" class="btn">Buy Now</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Bottom Block  -->

        </div>
        <!-- Lecture videos slider  -->
        <div class="box lecture-videos">
            <div class="left-pane">
                <h2>Four examples of plynomials</h2>

                <section class="slider">
                    <div class="flexslider">
                      <ul class="slides">
                        <li>
                          <img src="image/catalog/lecture-1.png" />
                          <h2>R D Sharma, Question 5, Exercise 1.2, </h2>
                            <p>Class: X    |    CBSE, Guru: Lakshmi Narayana Sir</p>
                        </li>
                        <li>
                            <img src="image/catalog/lecture-1.png" />
                            <h2>R D Sharma, Question 5, Exercise 1.2, </h2>
                              <p>Class: X    |    CBSE, Guru: Lakshmi Narayana Sir</p>
                          </li>
                          <li>
                            <img src="image/catalog/lecture-1.png" />
                            <h2>R D Sharma, Question 5, Exercise 1.2, </h2>
                              <p>Class: X    |    CBSE, Guru: Lakshmi Narayana Sir</p>
                          </li>
                          <li>
                            <img src="image/catalog/lecture-1.png" />
                            <h2>R D Sharma, Question 5, Exercise 1.2, </h2>
                              <p>Class: X    |    CBSE, Guru: Lakshmi Narayana Sir</p>
                          </li>
                          <li>
                            <img src="image/catalog/lecture-1.png" />
                            <h2>R D Sharma, Question 5, Exercise 1.2, </h2>
                              <p>Class: X    |    CBSE, Guru: Lakshmi Narayana Sir</p>
                          </li>
                      </ul>
                    </div>
                    <div class="custom-navigation">
                      <a href="#" class="flex-prev"><img src="image/catalog/arrow-next.png" /></a>
                      <!-- <div class="custom-controls-container"></div> -->
                      <a href="#" class="flex-next"><img src="image/catalog/arrow-next.png" /></a>
                    </div>
                  </section>


            </div>

        </div>
    </div>
    <!-- Student Subscriptions  -->

    <!-- WHy ekaksha  -->
    <div class="why-ekaksha">
        <h3>Why Choose ekaksha?</h3>

        <div class="ekaksha-stars">

            <div class="star">
                <img src="image/catalog/star-1.png">
                <p>20 Years<br>
                    <span>of teaching experience</span></p>
            </div>

            <div class="star">
                <img src="image/catalog/star-2.png">
                <p>Gold<br>
                    <span>Medalist Faculty</span></p>
            </div>

            <div class="star">
                <img src="image/catalog/star-3.png">
                <p>Alumnis<br>
                    <span>of Harward UK</span></p>
            </div>
            
            <div class="star">
                <img src="image/catalog/star-4.png">
                <p>Personalized<br>
                    <span>Unlimited Practice & Revision</span></p>
            </div>

            <div class="star">
                <img src="image/catalog/star-5.png">
                <p>Weekly Insights <br>
                    <span>on your child’s Growth </span></p>
            </div>

        </div>
    </div>
    <!-- WHy ekaksha  -->



</div>
<script src="image/catalog/jquery.flexslider.js"></script>

<script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlsContainer: $(".custom-controls-container"),
        customDirectionNav: $(".custom-navigation a"),
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>


<div class="student-footer">
{{ footer }}
</div>

